--extra-index-url https://download.pytorch.org/whl/cu132

accelerate>=1.13.0
evaluate>=0.4.6
huggingface-hub>=1.15.0
pandas>=3.0.3
scikit-learn>=1.8.0
torch>=2.12.0
torchvision>=0.27.0
tqdm>=4.67.3
transformers[sentencepiece,torch]